<table class="table table-dark table-bordered table-hover table-striped" style="margin-bottom:0;">
    <thead>
            <th scope="col">ID</th>
            <th scope="col">Picture</th>
            <th scope="col">Animal</th>
            <th scope="col">Species</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
            <th scope="col">Location</th>
            <th scope="col">Donation Fee</th>
            <th scope="col">Intake Date</th>
    </thead>
    {% for animal in animals %}
    <tbody>
        <td style="text-align: center; vertical-align: middle;">{{ animal.animal_tag }}</td>
        <td style="text-align: center;">
            {% if animal.animal_photo %}
            <img src="{{ animal.animal_photo.url }}" alt="Animal Headshot"
                style="max-width: 200px; max-height: 200px;">
            {% endif %}
        </td>
        <td style="text-align: center; vertical-align: middle;"><a href="{% url 'animals:animal-detail' animal.id %}">{{ animal.name }}</a></td>
        {% if animal.species.id %}
        <td style="text-align: center; vertical-align: middle;"><a href="{% url 'animals:species-detail' animal.species.id %}">{{ animal.species.name }}</a></td>
        {% else %}
        <td style="text-align: center; vertical-align: middle;"><a>None</a></td>
        {% endif %}
        <td style="text-align: center; vertical-align: middle;">{{ animal.get_status_display }}</td>
        <td style="text-align: center; vertical-align: middle;">{{ animal.description }}</td>
        <td style="text-align: center; vertical-align: middle;"><a href="{% url 'business:location-detail' animal.location.id %}">{{ animal.location.name }}</a></td>
        <td style="text-align: center; vertical-align: middle;">${{ animal.donation_fee }}</td>
        <td style="text-align: center; vertical-align: middle;">{{ animal.intake_date|date:"Y-m-d" }}</td>
    </tbody>
    {% endfor %}
</table>
<br></br>