{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}

<h1>{{ animal.name }} - Detail</h1>
<p>{{ animal.description }}</p>
{% if animal.animal_photo %}
<div>
<img width="25%" height="25%" src="{{ animal.animal_photo.url }}">
</div>
{% endif %}
<a href="{% url 'animals:animal-update' animal.id %}">Edit</a>
<a href="{% url 'animals:animal-delete' animal.id %}">Delete</a>
<br></br>
<form class="align-items-center flex-column" method="post">
  <h3 class="text-secondary">New Medical Record</h3>
  {% csrf_token %}

  {% bootstrap_form medical_record_form %}

  {% bootstrap_button button_type="submit" content="OK" %}
  {% bootstrap_button button_type="reset" content="Cancel" %}
</form>
<br></br>
{% if medical_records %}
<h3 class="text-secondary">{{ object.number_of_medical_records }} Medical Record{{ object.number_of_medical_records|pluralize }}</h3>
<hr>
<ul>
  {% for record in medical_records %}
  <li>           
   <div>
      <span>
        <strong class="text-info">{{ record.notes }} </strong>
        <small class="text-muted">{{ record.created }}</small>
        <strong class="text-secondary">{{ record.initials }} </strong>
        <a href="{% url 'animals:medical-record-delete' record.id %}">Delete</a>
      </span>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
  <strong class="text-secondary">No records yet...</strong>
{% endif %}
</div>
{% endblock %}