{% extends "base.html" %}
{% block content %}
<h1>{{ animal.name }} - Detail</h1>
<p>{{ animal.description }}</p>
{% if animal.animal_photo %}
<div>
<img src="{{ animal.animal_photo.url }}">
</div>
{% endif %}
<a href="{% url 'animals:animal-update' animal.id %}">Edit</a>
<a href="{% url 'animals:animal-delete' animal.id %}">Delete</a>
<br></br>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{ medical_record_form }}
      <button class="btn btn-info" type="submit">Add record <i class="fas fa-comments"></i></button>
    </div>
  </form>

{% if medical_records %}
<strong class="text-info">{{ object.number_of_medical_records }}Medical Record{{ object.number_of_medical_records|pluralize }}</strong>
<hr>
<ul>
  {% for record in medical_records %}
  <li>           
   <div>
      <span>
        <strong class="text-info">{{ record.notes }} </strong>
        <small class="text-muted">{{ record.created }}</small>
        <strong class="text-secondary">{{ record.initials }} </strong>
        <a href="{% url 'animals:medical-record-delete' record.id %}">Delete</a>
      </span>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
  <strong class="text-secondary">No records yet...</strong>
{% endif %}
</div>
{% endblock %}