<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dragonroost</title>
  </head>
  <body>
{% extends 'bootstrap.html' %}

{% load static i18n %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block bootstrap5_content %}
  
  {% include 'navbar.html' %}
    <div class="container">
        <h2>{% block title %}{{ title }}{% endblock %}</h2>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        
        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
  </body>
</html>

