{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-4">
  <br></br>
  <h3>What would you like to do?</h3>
  <a href="{% url 'animals:animal-create' %}" class="btn btn-success btn-lg">New Animal</a>
  <a href="{% url 'people:person-create' %}" class="btn btn-secondary btn-lg">New Person</a>
  <a href="{% url 'animals:species-create' %}" class="btn btn-primary btn-lg">New Species</a>
  <a href="{% url 'business:location-create' %}" class="btn btn-light btn-lg">New Location</a>
</div>
<br></br>
<div class="card border-secondary mb-3" style="max-width: 30rem;">
  <h3 class="card-header text-center text-light">Shelter Stats</h3>
  <div class="card-body">
    <h4 class="card-title">Animals at the rescue: <span class="text-light">{{ animal_count }}</span></h4>
    <h4 class="card-text">Adoptions this month: <span class="text-light">{{ adopted_past_30_days }}</span></h4>
    <h4 class="card-text">Adoption income this year: <span class="text-success">${{ donation_total_365_days }}</span></h4>
  </div>
</div>
<br></br>
<h3>Recent Intakes</h3>
{% include "animals/_animal-cards.html" with animals=animals %}
<br></br>
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      Help Page
    </div>
    <div class="card-body">
      <h5 class="card-title">What is a shelter manager?</h5>
      <p class="card-text">A shelter management app helps manage intakes, adoptions, medical treatments, etc.
      </p>
      <a href="{% url 'animals:animal-list' %}" class="btn btn-primary">Go Home</a>
    </div>
  </div>
</div>
{% endblock %}