<nav class="navbar fixed-top navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dragonroost</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Animals
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'animals:animal-table' %}">Animal List</a></li>
              <li><a class="dropdown-item" href="{% url 'animals:species-list' %}">Species List</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              People
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'people:person-list' %}">People List</a></li>
              <li><a class="dropdown-item" href="#">Volunteers</a></li>
              <li><a class="dropdown-item" href="#">Donors</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Business
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'business:location_list' %}">Locations</a></li>
              <li><a class="dropdown-item" href="#">Financials</a></li>
              <li><a class="dropdown-item" href="{% url 'business:meeting_list' %}">Meetings</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Create New
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'animals:animal-create' %}">Animal</a></li>
              <li><a class="dropdown-item" href="{% url 'animals:species-create' %}">Species</a></li>
              <li><a class="dropdown-item" href="{% url 'people:person-create' %}">Person</a></li> 
              <li><a class="dropdown-item" href="{% url 'business:location_create' %}">Location</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
              <span class="navbar-text px-2">
                Hello, {{ user.username }}!    
              </span>

          <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">Logout</button>
          </form>
          {% else %}
          <li class ="nav-link">
          <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-sm" role="button">Login</a>
          </li>
          <li class="nav-link">
            <a href="{% url 'accounts:register' %}" class="btn btn-secondary btn-sm" role="button">Register</a>
          </li>
          {% endif %} 

        </ul>
      </div>
    </div>
  </nav>


