{# dragonroost/animals/templates/animal_table_htmx.html #}
{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block content %}
  <a href="{% url 'animals:animal-create' %}"
     class="btn btn-lg mb-4 me-3 btn-info"
     hx-target="#dialog"
     hx-boost="true"
     hx-push-url="false">Add New Animal</a>
  <a href="{% url 'animals:species-create' %}"
     class="btn btn-lg mb-4 btn-info"
     hx-target="#dialog"
     hx-boost="true"
     hx-push-url="false">Add New Species</a>
  {# Search form #}
  <form hx-get="{% url 'animals:get-animal-list' %}"
        hx-target="div.table-container"
        hx-swap="outerHTML"
        hx-indicator=".progress"
        class="form-inline">
    {% crispy filter.form %}
  </form>
  {# Progress indicator #}
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  {# The actual table #}
  <div class="text-center"
       hx-trigger="animal_table_update, animal_detail_update from:body"
       hx-get="{% url 'animals:get-animal-list' %}"
       hx-target="this">{% render_table table %}</div>
{% endblock content %}
