{% extends "base.html" %}

{% load django_bootstrap5 %}

{# djlint:off #}

{% block content %}
<div hx-trigger="animal_detail_update from:body"
     hx-get="{% url 'animals:animal-detail' animal.id %}"
     hx-target="this">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          {% if animal.animal_photo %}
            <img src="{{ animal.animal_photo.url }}"
                alt="..."
                style="width: 150px;
                        height: 150px"
                class="rounded-circle object-fit-cover" />
          {% else %}
            <p>No Photo Found</p>
          {% endif %}
          <h5 class="my-3">
            <b>{{ animal.name }}</b>
          </h5>
          <a href="{% url 'animals:species-detail' animal.species.id %}"
            hx-boost="true"
            hx-push-url="false"
            hx-target="#dialog"
            hx-swap="innerHTML">{{ animal.species }}</a>
          <p class="text-muted mb-4">{{ animal.get_status_display }}</p>
          <div class="d-flex justify-content-center mb-2">
            <a href="{% url 'animals:animal-update' animal.id %}"
              hx-boost="true"
              hx-push-url="false"
              hx-target="#dialog"
              hx-swap="innerHTML"
              class="btn btn-primary me-4">Edit</a>
            <a href="{% url 'animals:animal-delete' animal.id %}"
              hx-boost="true"
              hx-push-url="false"
              hx-target="#dialog"
              hx-swap="innerHTML"
              class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <ul class="list-group list-group-flush rounded-3">
            <li class="list-group-item d-flex justify-content-center p-3">
              <i class="fab fa-github fa-lg" style="color: #333333;"></i>
              <p class="mb-0">
                <b>Description:</b> {{ animal.description }}
              </p>
            </li>
            <li class="list-group-item d-flex justify-content-center p-3">
              <i class="fab fa-github fa-lg" style="color: #333333;"></i>
              <p class="mb-0">
                <b>Current Weight:</b> TODO: Get current_weight from most recent medical_record
              </p>
            </li>
            <li class="list-group-item d-flex justify-content-center p-3">
              <i class="fab fa-github fa-lg" style="color: #333333;"></i>
              <p class="mb-0">
                <b>Starting Weight:</b> {{ animal.starting_weight }}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card h-100">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-sm-3">
              <p class="mb-0">
                <b>Additional Details</b>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">
                <b>Intake Date</b>
              </p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ animal.intake_date|date }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">
                <b>Current Condition</b>
              </p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ animal.get_current_condition_display }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">
                <b>Sex</b>
              </p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ animal.get_sex_display }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">
                <b>Age</b>
              </p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ animal.age }} years old</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">
                <b>Location</b>
              </p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ animal.location.name }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">
                <b>Donation Fee</b>
              </p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">${{ animal.donation_fee }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <a href="{% url 'animals:medical-record-create' animal.id %}"
      class="btn btn-primary btn-lg mt-4">New Medical Record</a>
  </div>
  <!-- <a href="{% url 'animals:animal-outcome' animal.id %}">Outcome Event</a> -->
  </br />
  {% if medical_records %}
    <h3 class="text-secondary text-start">
      {{ object.number_of_medical_records }} Medical Record{{ object.number_of_medical_records|pluralize }}
    </h3>
    <hr />
    <ul>
      {% for record in medical_records %}
        <div class="card border-success mb-3" style="max-width: 60rem;">
          <h5 class="card-header text-secondary">
            <b>{{ record.created|date:"Y-m-d" }} - {{ record.q_volunteer }}</b>
          </h5>
          <div class="card-body">
            <p class="card-title text-secondary">
              <b>Weight</b> {{ record.current_weight }} - <b>BM?</b> {{ record.bowel_movement }}
            </p>
            <p class="card-text">
              <b>Notes:</b> {{ record.notes }}
            </p>
            <p class="card-text">
              <b>Treatments:</b> {{ record.treatments }}
            </p>
            <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'animals:medical-record-update' record.id %}">
                <button type="button"
                        class="btn btn-primary">Edit</button>
              </a>
              <a href="{% url 'animals:medical-record-delete' record.id %}">
                <button type="button"
                        class="btn btn-outline-danger ms-4">Delete</button>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </ul>
  {% else %}
    <strong class="text-secondary">No records yet...</strong>
  {% endif %}
</div>
{% endblock content %}

{# djlint:on #}
