{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
  <form class="align-items-center flex-column"
        method="post"
        enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout='floating' %}
    {% bootstrap_button button_type="submit" content="Save" %}
    {% url 'animals:animal-table' as animal_table %}
    {% bootstrap_button content="Cancel" button_type="link" button_class="btn-outline-danger" href=animal_table %}
    {% comment %} {% if edit %}
      {% bootstrap_button button_type="link" href="{% url 'animals:animal-detail' object.id %}" content="Cancel" %}
    {% endif edit %} {% endcomment %}
  </form>
{% endblock content %}
