<!-- for testing: animals:species-detail -->
{% comment %} <div class="">
  <div class="card-header">
    Species Detail
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <a href="{% url 'animals:species-table' %}">Species</a> - {{ species.name }}
    </h5>
    <p class="card-text">Description: {{ species.description }}</p>
    <a href="{% url 'animals:species-update' species.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'animals:species-delete' species.id %}" class="btn btn-outline-danger">Delete</a>
  </div>
</div> {% endcomment %}
<div class="modal modal-content">
  <div class="modal-header">
    <h5>Species - {{ species.name }}</h5>
  </div>
  <div class="modal-body">
    <p class="card-text">Description: {{ species.description }}</p>
    <a href="{% url 'animals:species-update' species.id %}"
       class="btn btn-primary">Edit</a>
    <a href="{% url 'animals:species-delete' species.id %}"
       class="btn btn-outline-danger">Delete</a>
  </div>
</div>
