{# templates/people/person_table_htmx.html #}
{% extends "base.html" %}

{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
  {# Search form #}
  <form hx-get="{% url 'people:person-table' %}"
        hx-target="div.table-container"
        hx-swap="outerHTML"
        hx-indicator=".progress"
        class="form-inline">
    {% crispy filter.form %}
  </form>
  {# Progress indicator #}
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  {# The actual table #}
  {% render_table table %}
{% endblock content %}
