{% extends "base.html" %}

{% load django_tables2 %}

{% block content %}
  <a href="{% url 'people:person-create' %}"
     class="btn btn-primary btn-sm">Add New Person</a>
  <br />
</br />
{% render_table table %}
<div class="container mt-4">
  <div class="card">
    <div class="card-header">Help Page</div>
    <div class="card-body">
      <h5 class="card-title">What is a shelter manager?</h5>
      <p class="card-text">A shelter management app helps manage intakes, adoptions, medical treatments, etc.</p>
      <a href="{% url 'animals:animal-list' %}" class="btn btn-primary">Go Home</a>
    </div>
  </div>
</div>
{% endblock content %}
