{% load static i18n %}

{# djlint:off #}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" style="height: 100vh;">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Dragonroost
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="An animal shelter / rescue management application, written in Python!" />
    <meta name="author" content="Dan King" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link href="https://bootswatch.com/5/minty/bootstrap.min.css"
            rel="stylesheet"
            crossorigin="anonymous" />
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      {% comment %} <link href="{% static 'css/project.css' %}" rel="stylesheet" /> {% endcomment %}
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- htmx -->
      <script src="{% static 'js/htmx-2.0.3.min.js' %}" defer></script>
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %} h-100"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block body %}
      <div class="">
        <nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
          <div class="container-fluid">
            <button class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'images/favicons/favicon.ico' %}" alt="" width="32" height="32">
              Dragonroost
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a>
                  </li>
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                  </li>
                {% else %}
                  {% if ACCOUNT_ALLOW_REGISTRATION %}
                    <li class="nav-item">
                      {# URL provided by django-allauth/account/urls.py #}
                      <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="d-flex flex-nowrap pt-5 h-100" >
        <div class="d-flex flex-column flex-shrink-0 p-3 rounded border bg-info-subtle">
          <h2 class="mb-3 mb-md-0 text-center display-6">
            <span class="fs-2 text-bold">Shelter Actions</span>
          </h2>
          <hr />
          <ul class="nav nav-pills flex-column mb-auto">
            <h5>Animals</h5>
            <li class="nav-item mb-1">
              <a id="animal-table"
                 hx-boost="true"
                 hx-push-url="true"
                 hx-target="#testing"
                 hx-swap="innerHTML"
                 href="{% url 'animals:animal-table' %}">Manage Animals</a>
            </li>
            <li class="nav-item mb-1">
              <a id="species-table"
                 hx-boost="true"
                 hx-push-url="true"
                 hx-target="#testing"
                 hx-swap="innerHTML"
                 href="{% url 'animals:species-table' %}">Manage Species</a>
            </li>
            <hr />
            <h5>Business</h5>
            <li class="nav-item mb-1">
              <a id="location-table"
                 hx-boost="true"
                 hx-push-url="true"
                 hx-target="#testing"
                 hx-swap="innerHTML"
                 href="{% url 'business:location-table' %}">Manage Locations</a>
            </li>
            <li class="nav-item">
              <a id="meeting-table"
                 hx-boost="true"
                 hx-push-url="true"
                 hx-target="#testing"
                 hx-swap="innerHTML"
                 href="{% url 'business:meeting-table' %}">Manage Meetings</a>
            </li>
            <hr />
            <h5>People</h5>
            <li class="nav-item">
              <a id="person-table"
                 hx-boost="true"
                 hx-push-url="true"
                 hx-target="#testing"
                 hx-swap="innerHTML"
                 href="{% url 'people:person-table' %}">Manage People</a>
            </li>
            <hr />
            <h5>Medical</h5>
            <li class="nav-item">
              <a id="medical-update-table"
                 hx-boost="true"
                 hx-push-url="true"
                 hx-target="#testing"
                 hx-swap="innerHTML"
                 href="{% url 'medical:medical-update-table' %}">Manage Medical Updates</a>
            </li>
          </ul>
          <hr>
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://github.com/leethobbit/dragonroost"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16" label="Source Code">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
              </svg></a>
            </li>
            <li class="list-inline-item">
              <p>dragonroost-0.2.0</p>
            </li>
          </ul>
          <button class="btn btn-primary" hx-get="{% url 'business:feedback-create' %}" hx-target="#dialog">
            Send Feedback
          </button>

        </div>
        <div class="flex-column p-2 flex-fill bg-light">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
          {% block main %}
            <div id="testing" class="pt-5 overflow-auto mh-100">
              {% block content %}
                Click a link on the left sidebar to get started.
                <br>
                {% include "animals/_animal_cards.html" %}
              {% endblock content %}
            </div>
          {% endblock main %}
        </div>
      </div>
    {% endblock body %}
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
  Script tags with only code, no src (defer by default). To run
  with a "defer" so that you run inline code:
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      /* Run whatever you want */
    });
</script>
{% endcomment %}
    {% endblock inline_javascript %}
    <div id="modal" class="modal modal-lg fade">
      <div id="dialog" class="modal-dialog modal-dialog-centered" hx-target="this"></div>
    </div>
  </body>
</html>

{# djlint:on #}
