{% extends 'base.html' %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"> 
        {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<div class="col-md-12 text-center">
    <h1>Herps Alive - Treatments</h1>
    <h5>Treatments currently at the rescue</h5>
</div>
<a href="{{ url_for('medical.create_treatment') }}" class="btn btn-primary btn-sm">Add New Treatment</a>
<a href="{{ url_for('animals.create_species') }}" class="btn btn-primary btn-sm">Add New Species</a>
<a href="{{ url_for('business.create_location') }}" class="btn btn-primary btn-sm">Add New Location</a>
<table class="table table-dark table-bordered table-hover table-striped" style="margin-bottom:0;">
    
    <thead>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Frequency</th>

    </thead>
    {% for treatment in items %}
    <tbody>
        <td>{{ treatment.id }}</td>
        <td><a href="{{ url_for('medical.edit_treatment', id=treatment.id) }}">{{ treatment.name }}</a></td>    
        <td>{{ treatment.description }}</td>
        <td>{{ treatment.frequency }}</td>
    </tbody>
    {% endfor %}
</table>
</br>

{% endblock %}