{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="col-md-12 text-center">
    <h1>{% block customer_name %} Add Treatment {% endblock %}</h1>
    </div>

    {{ wtf.quick_form(form, method="POST", button_map={'submit_button': 'primary'}) }}

{% endblock %}