{# templates/medical/medical_update_table_htmx_reload.html #}
{% extends "base.html" %}

{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
  <a href="{% url 'medical:medical-update-create' %}"
     class="btn btn-lg mb-4 btn-info">Add New Medical Update</a>
</br />
</br />
{# Search form #}
<form hx-get="{% url 'medical:get-medical-update-results' %}"
      hx-target="div.table-container"
      hx-swap="outerHTML"
      hx-indicator=".progress"
      class="form-inline">
  {% crispy filter.form %}
</form>
{# Progress indicator #}
<div class="progress">
  <div class="indeterminate"></div>
</div>
{# The actual table #}
{% render_table table %}
{% endblock content %}
